@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: auto;
    margin: 0px 80px 0px 80px;
}

.del{
    clear: both;
}

#header{
    width: 100%;
    height: 100px;
    background-color: #F9F7F7;
}

#header img{
    width: 120px;
    margin-top: 13px;
}

#header ul{
    list-style: none;
    float: right;
    margin-top: 30px;
}

#header ul li{
    float: left;
    margin-left: 20px;
}

#header ul li a{
    text-decoration: none;
    color: #112D4E;
    font-family: 'Odor Mean Chey', sans-serif;
    font-size: 25px;
    font-weight: 700;
}

#header .active{
    border-bottom: 2px solid #000;
}

#header ul li a:hover{
    border-bottom: 2px solid #000;
}

#main{
    width: 100%;
    height: 600px;
    background-color: #F9F7F7;
    border-top: 1px solid #000;
}

#main h1{
    color: #0B82E6;
    font-family: 'Inika', sans-serif;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
}

#main h6{
    color: #112D4E;
    font-family: 'Inika',  sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

#main .img-box{
    display: flex;
    justify-content: center;
}

#main img{
    width: 330px;
    margin-top: 50px;
}

#about{
    width: auto;
    height: 500px;
    background-color: #0B82E6;
}

#about h2{
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    padding-top: 60px;
    font-weight: 700;
    font-family: 'Odor Mean Chey', sans-serif;
}

#about p{
    font-size: 21px;
    color: #ffffff;
    text-align: center;
    margin-top: 60px;
    font-weight: 400;
    font-family: 'Inika', sans-serif;
    word-spacing: 9px;
    line-height: 2;
}

#about .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#about .card-in{
    width: 310px;
    height: 550px;
    border-radius: 20px;
    margin: 70px 0px 0px 0px;
    background-color: #F9F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about .round{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: #5BE9B9;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about h3{
    font-family: 'Odor Mean Chey', sans-serif;
    font-size: 17px;
    margin-top: 40px;
}

#about .card-in p{
    font-family: 'Inika', sans-serif;
    color: #000;
    font-size: 12px;
    margin: 20px 10px 0px 10px;
    font-weight: 700;
    word-spacing: 2px;
    line-height: 1.5;
}

#about h5{
    color: #7877F7;
    font-family: 'Inika', sans-serif;
    font-size: 13px;
    font-weight: 500;
    margin-top: 40px;
}

#about h4{
    color: #000;
    font-family: 'Inika', sans-serif;
    font-size: 13px;
    font-weight: 500;
    margin-top: 8px;
}

#works{
    width: 100%;
    height: auto;
    /* border: 1px solid #000; */
    margin-top: 500px;
}

#works h1{
    font-family: 'Odor Mean Chey', sans-serif;
    font-size: 32px;
    color: #000;
    text-align: center;
}

#works p{
    font-family: 'Inika', sans-serif;
    font-size: 18px;
    color: #000;
    text-align: center;
    margin-top: 13px;
}

#works a{
    text-decoration: none;
    color: #7877F7;
}

#works .projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

#works .mini-proj{
    width: 420px;
    height: 250px;
    margin: 10px;
}

#works img{
    width: 420px;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(11, 130, 230, 0.1);
}

#works .mini-proj:hover > img{
    transform: scale(0.9);
    transition: 1s;
}

.box{
    display: flex;
    justify-content: center;
}

.conver{
    width: 1000px;
    height: 150px;
    border-radius: 10px;
    background-color: #141C3A;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.conver-item{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conver h1{
    font-family: 'Inika' sans-serif;
    font-size: 23px;
    color: #ffffff;
}

.conver p{
    font-family: 'Inria sans' sans-serif;
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    line-height: 1.4;
}

.talk{
    width: 200px;
    height: 40px;
    border: 2px solid #57DEB2;
    border-radius: 10px;
}

.conver a{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Inter' sans-serif;
    margin-left: 5px;
}

.talk:hover{
    background-color: #57DEB2;
}

#footer{
    width: 100%;
    height: 460px;
    background-color: #0B82E6;
}

.out-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.in-logo{
    width: 120px;
    height: 120px;
    background-color: #ffffff;
    border: 1px solid #57DEB2;
    margin-top: 130px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.in-logo img{
    width: 110px;
}

#footer h1{
    font-size: 27px;
    color: #ffffff;
    font-family: 'Odor Mean Chey', sans-serif;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
}

#footer .icons{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#footer i{
    margin-right: 20px;
}

#footer p{
    color: #ffffff;
    font-size: 17px;
    font-family: 'Odor Mean Chey', sans-serif;
    text-align: center;
    margin-top: 40px;
    font-weight: 600;
}

@media (max-width: 1100px){
    .container{
        width: auto;
        margin: 0px 50px 0px 50px;
    }

    #header img{
        width: 110px;
        margin-top: 14px;
    }

    #header ul li a{
        font-size: 20px;
    }

    #main{
        height: 600px;
    }

    #main h1{
        font-size: 34px;
    }

    #main h6{
        font-size: 14px;
    }

    #main img{
        width: 290px;
        margin-top: 30px;
    }

    #about h2{
        font-size: 27px;
    }

    #about p{
        font-size: 18px;
        word-spacing: 8px;
    }

    #about .card-in{
        width: 270px;
    }

    .conver{
        width: 800px;
        height: 140px;
    }

    .in-logo{
        width: 110px;
        height: 110px;
    }

    .in-logo img{
        width: 100px;
    }

    #footer h1{
        font-size: 24px;
    }

    #footer p{
        font-size: 15px;
    }
}

@media (max-width: 950px){
    #about .card-in{
        width: 230px;
    }
}

@media (max-width: 800px){
    .container{
        width: auto;
        margin: 0px 30px 0px 30px;
    }

    #header img{
        width: 80px;
        margin-top: 20px;
    }
    
    #header ul{
        margin-top: 40px;   
    }

    #header ul li a{
        font-size: 13px;
    }

    #main{
        height: 500px;
    }

    #main h1{
        font-size: 25px;
    }

    #main h6{
        font-size: 10px;
    }

    #main img{
        width: 240px;
        margin-top: 30px;
    }

    #about h2{
        font-size: 23px;
    }

    #about p{
        font-size: 15.5px;
        word-spacing: 4px;
    }

    #about .card-in{
        width: 100%;
    }

    #works{
        margin-top: 1800px;
    }
    
    #works h1{
        font-size: 28px;
    }
    
    #works p{
        font-size: 13px;
    }

    #works .mini-proj{
        width: 400px;
        height: 230px;
    }
    
    #works img{
        width: 400px;
        margin-top: 10px;
    }

    .conver{
        width: 400px;
        height: 350px;
        margin-top: -70px;
        flex-direction: column;
    }

    .conver-item{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .talk{
        width: 230px;
        height: 60px;
    }

    .conver a{
        font-size: 16px;
    }

    #footer{
        height: 600px;
    }

    .in-logo{
        margin-top: 310px;
        width: 100px;
        height: 100px;
    }

    .in-logo img{
        width: 90px;
    }

    #footer h1{
        font-size: 20px;
    }

    #footer p{
        font-size: 12px;
        margin-top: 30px;
    }

}

